[mysqld]
# Ascolta tutte le interfacce
bind-address=0.0.0.0

# Socket locale
socket=/run/mysqld/mysqld.sock

# Log errori
log-error=/var/log/mysql/error.log

# Evita warning
pid-file=/run/mysqld/mysqld.pid

# Charset
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Sicurezza minima per test
skip-host-cache
skip-name-resolve
